# vscode
.vscode/

.idea/*

# backend.rs
backend.rs/target/

# frontend/
.webui*

# index
backend/index/
backend/memory/

# tests
# backend/tests/
backend/test_memory_db/

# openclaw clone
openclaw/
frontend/package-lock.json

# shared libraries
*.so
*.dll
*.dylib

# graddle
android/.gradle/
android/.kotlin/
android/app/build/
android/app/src/main/jniLibs