# backend 
backend/backend.log
backend/external/
backend/build

# third-party
backend/third-party/faiss/
backend/third-party/LucenePlusPlus/
backend/third-party/fiber/
backend/third-party/libuv/
backend/third-party/fiber-src.tar.gz

# test output
backend/*test*.txt

# backend.rs
backend.rs/target/

frontend/
.webui*

# index
backend/index/

# tests
# backend/tests/
backend/test_memory_db/

# openclaw clone
openclaw/
