# backend 
backend.log
external/
build*/
dist/

# third-party
third-party/faiss/
third-party/LucenePlusPlus/
third-party/LucenePlusPlus/*
third-party/fiber/
third-party/libuv/
third-party/fiber-src.tar.gz
third-party/busybox-w32/

# test output
*test*.txt

# backend.rs
backend.rs/target/

# frontend/
.webui*

# index
index/
memory/

# tests
# tests/
test_memory_db/

# openclaw clone
openclaw/
